<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <img width="150" alt="Clima Logo" src="https://cdn-icons-png.flaticon.com/512/129/129023.png">

        <form (submit)="submitLocation(cityName)">
          <input type="text" class="form-control" placeholder="Nombre de la Ciudad" #cityName>
          <button class="btn btn-primary btn-block mt-2">
            Ver el Clima
          </button>
        </form>
      </div>

    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
